:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primaryColor: #101f19;
  --primaryLighterColor: #225540;
  --secondaryColor: #00ffb3;
  --tertiaryColor: #919191;
  --tertiaryLighter: #E6E8E6;

  --textColor: #ffffff;
}

html{
  min-height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #00383a, #1b3821);
  background-size: 4000% 4000%;
  animation: gradient 15s ease infinite;
  color: var(--textColor);
  font-family: 'Montserrat', sans-serif;

  animation: 15s infinite alternate background;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 50;
  justify-content: end;
  text-align: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.651), #ffffff00);
  
  /* background-color: var(--primaryColor); */
  /* border-bottom: 1px solid var(--secondaryColor); */
}

nav h1 {
  margin-right: auto;
  margin-left: 2rem;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 18px;
  color: var(--textColor);
  transition: all 0.2s ease-in-out;
}

nav a:hover{
  color: var(--secondaryColor);
}

.wrapper{
  display: block;
  margin: 2rem 0;
  width: 100%;
}

.wrapper section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto 10rem auto;
}

.wrapper section h2{
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid var(--secondaryColor);
}

button {
  padding: 1rem 3rem;
  background-color: var(--primaryColor);
  border: 1px solid var(--secondaryColor);
  border-radius: 10px;
  cursor: pointer;

  color: var(--secondaryColor);
  transition: all 0.4s ease-out;
}
button:hover{
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: 1px solid none;
  scale: 1.1;
}

span.highlight{
  color: var(--secondaryColor);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  border-top: 1px solid var(--secondaryColor);
}

footer button {
  padding: 0.5rem;
  margin: 1rem;
  height: 50px;
}

@keyframes background{
  0% {
    background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}