:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primaryColor: #101f19;
  --primaryLighterColor: #225540;
  --secondaryColor: #00ffb3;
  --tertiaryColor: #919191;
  --tertiaryLighter: #E6E8E6;

  --textColor: #ffffff;

}

html{
  min-height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #00383a, #1b3821);
  background-size: 4000% 4000%;
  animation: gradient 15s ease infinite;
  color: var(--textColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  animation: 15s infinite alternate background;
}

header {
  z-index: 50;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;

  width: 100%;
  text-align: center;
  align-items: center;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.651), #ffffff00);
  /* background-color: var(--primaryColor); */
  /* border-bottom: 1px solid var(--secondaryColor); */
}

h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}

nav {
  display: flex;
  width: 100%;
  justify-content: end;
  text-align: center;
  align-items: center;
}

header h1 {
  margin-right: auto;
  margin-left: 2rem;
  font-weight: 400;
  font-size: 26px;
}
header h1:hover {
  cursor: pointer;
  animation: header-hover 1000ms infinite;
}
@keyframes header-hover{
  0%{ transform: scale(1); }
  25%{ transform: scale(1.1); }
  50%{ transform: scale(1); }
  75%{ transform: scale(1.1); }
  100%{ transform: scale(1); }
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 19px;
  font-weight: 300;
  color: var(--textColor);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

nav a:hover {
  color: var(--secondaryColor);
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 19px;
}

.wrapper {
  display: block;
  margin: 2rem 0;
  width: 100%;
}

.wrapper section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem auto 10rem auto;
}

.wrapper section h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid var(--secondaryColor);
}

.btn-fancy {
  margin: 1rem;

  position: relative;
  z-index: 1;
  padding: 1rem 3rem;
  background-color: var(--primaryColor);
  color: var(--textColor);
  border: 1px solid var(--secondaryColor);
  cursor: pointer;

  transition: color 0.4s ease;
}
.btn-fancy:hover{
  color: var(--primaryColor);
}
.btn-fancy::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--secondaryColor);

  transform-origin: left;
  transform: scaleX(0);

  transition: transform 0.4s ease;
}

.btn-fancy:hover::before{
  transform: scaleX(100%);
}

span.highlight {
  color: var(--secondaryColor);
}


.fancy-underline{
  position: relative;
}
.fancy-underline::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--secondaryColor);
  transform: scaleX(0);

  transition: transform 0.2s ease-in-out;
}
.fancy-underline:hover::before {
  transform: scaleX(100%);
}

.social-icn {
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  cursor: pointer;
}

.social-icn::before {
  width: 50px;
  height: 50px;
  background-color: black;

}
.social-icn:hover {
  scale: 1.2;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  border-top: 1px solid var(--secondaryColor);
}

/* footer .icon {
  height: 50px;
  width: 50px;
  padding: 1rem;
  margin: 0 2rem;
} */

@keyframes background{
  0% {
    background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}



@media only screen and (max-width: 1024px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--primaryColor);
    transition: 0.2s;
    transform: translateY(-100vh);
  }

  nav a {
    border-bottom: 1px solid var(--secondaryColor);
  }


  .responsive-nav {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

}

@media only screen and (max-width: var(--tabletBP)) {

}

@media only screen and (max-width: 480px) {
  header h1 {
    margin-left: 1rem;
    font-size: 22px;
  }

  .open-nav-btn {
    margin-right: 1rem;
  }
}

