section.about {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 2rem;
}

div.content-container div img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-right: 2rem;
}

.about .content-container div p {
    text-align: left;
}

@media only screen and (max-width: 1024px) {
    .about .content-container {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .about .content-container div img {
        display: none;
        width: 0;
        height: 0;
    }
}