section.about {
    display: flex;
    flex-direction: column;
}

.about .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 2rem;
}

div.content-container div img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-right: 2rem;
}

.about .content-container div p {
    text-align: left;
}