.projects > h4 {
    font-weight: 300;
}
.carousel {
    max-width: 100%;

    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;

    padding-bottom: 125px;
    margin: 0 1rem;

    scrollbar-width: thin;
    scrollbar-color: var(--secondaryColor) var(--primaryColor);

}

.carousel::-webkit-scrollbar {
    height: 5px;
    background-color: white;
}
.carousel::-webkit-scrollbar-track {
    background: var(--primaryColor);
    
}
.carousel::-webkit-scrollbar-thumb {
    background-color: var(--secondaryColor);
}

.card {
    scroll-snap-align: start;
    position: relative;
    z-index: 1;
    background-color: var(--primaryColor);
    box-shadow: 10px 5px 20px var(--primaryColor);

    padding: 3rem 2rem;

    /* min-width: 30%; */
    min-height: 400px;
    height: 50vh;
    text-wrap: wrap;

    transition: all 0.2s ease-in-out;
}

.card img.thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-sizing: border-box;
    border: inset 1px var(--secondaryColor);
}

.card .top-face {
    position: relative;
    z-index: 3;
    background-color: var(--primaryColor);
    transition: all 0.4s ease-in-out;
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.btn-container .no-link {
    font-size: 12px;
}



.card .bottom-face{
    position: relative;
    background-color: var(--primaryColor);
    box-shadow: 10px 5px 20px var(--primaryColor);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    height: 200px;
    z-index: -2;
    transform: translateY(-200px);
}

.card .bottom-face .content .tech {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card:hover .top-face,
.card:focus .top-face {
    transform: translateY(-10px);
}

.card:hover .bottom-face,
.card:focus .bottom-face {
    transform: translateY(0px);
}




@media only screen and (max-width: 1300px) {
    .carousel {
        grid-auto-columns: 34%;
    }
}
@media only screen and (max-width: 950px) {
    .carousel {
        grid-auto-columns: 52%;
    }
}
@media only screen and (max-width: 600px) {
    .carousel {
        grid-auto-columns: 88%;
    }
}