div.carousel {
    display: flex;
    width: 100%;
}

div.card {
    background-color: var(--primaryColor);
    box-shadow: 10px 5px 20px var(--primaryColor);

    margin: 0 1rem;

    padding: 3rem 2rem;

    width: 350px;
    text-wrap: wrap;

    transition: all 0.2s ease-in-out;
}
div.card:hover{
    background-color: var(--primaryLighterColor);
    scale: 1.05;
}

div.card button {
    margin: 0 1rem;
    padding: 1rem 3rem;
    background-color: var(--primaryColor);  
    border: 1px solid var(--secondaryColor);
    border-radius: 10px;

    color: var(--secondaryColor);

    transition: all 0.2s ease-in-out;
}
div.card button:hover{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);

}